<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Event history</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button type="button" class="btn btn-sm btn-success ">Share</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-sm btn-success">Export</button>
				</div>
				<button type="button" class="btn btn-sm btn-success dropdown-toggle">
					<span data-feather="calendar"></span> This week
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<canvas class="my-4 w-100" id="myChart"></canvas>
			</div>
			<div class="col-md-6">
				<h2>Latest events</h2>
				<div class="table-responsive"
					style="height: 600px; overflow: scroll">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Event</th>
								<th>Timestamp</th>
								<th>Organization</th>
								<th>Source</th>
								<th>Workspace</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="event : ${events}">
								<td th:text="${event.name}"></td>
								<td th:text="${event.timestamp}"></td>
								<td th:text="${event.organization.name}"></td>
								<td th:text="${event.source.name}"></td>
								<td th:text="${event.workspace.name}"></td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		var dayNames = []
		var dayCounts = []
		/*<![CDATA[*/
	    /*[# th:each="entry : ${eventCounts}"]*/
	    	dayNames.push(/*[[${entry.dayName}]]*/);
	        dayCounts.push(/*[[${entry.count}]]*/);
	    /*[/]*/
		/*]]>*/
		
		</script>
		<script src="/js/dashboard.js"></script>