<br>
<br>

<br>
<div class="container">
	<form action="#" th:action="@{/integrationsForm}" th:object="${integrationsForm}">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Sources</h5>
					<div class="custom-control custom-radio"
						th:each="source : ${sources}">
						<!-- <input type="radio" id="customRadio1" name="customRadio"
							class="custom-control-input"> <label
							class="custom-control-label" for="customRadio1"
							th:text="${source.name}"> -->
						<input type="radio" th:field="*{radioButtonSelectedValue}" th:value="${source.id}"
							class="custom-control-input"> <label
							th:for="${#ids.prev('radioButtonSelectedValue')}"
							class="custom-control-label" 
							th:text="${source.name}"></label>
					</div>

				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Targets</h5>
					<div class="custom-control custom-checkbox"
						th:each="target : ${targets}">
						<!-- <input type="checkbox" class="custom-control-input"
							id="customCheck1"> <label class="custom-control-label"
							for="customCheck1" th:text="${target.name}"></label>
							 -->
						<input type="checkbox" class="custom-control-input" th:field="*{multiCheckboxSelectedValues}"
							th:value="${target.id}"> <label class="custom-control-label"
							th:for="${#ids.prev('multiCheckboxSelectedValues')}"
							th:text="${target.name}"></label>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<div>
		<a href="#" class="btn btn-success">Apply Changes</a>
	</div>
	</form>
</div>